# Git 相关
.git
.gitignore
.github

# Python 相关
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build

# 环境变量文件（重要！）
.env
.env.*
!.env.example

# IDE 相关
.idea
.vscode
*.swp
*.swo

# 测试和文档
test
tests
*.md
README.md

# 其他
.DS_Store
*.log
